<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>You are logged in</h3>
    <form action="{% url 'add-new-post' %}" method="GET">
        {% csrf_token %}
            <button>Add New</button>
    </form>

    <form action="{% url 'logout-url' %}" method="POST">
        {% csrf_token %}
        <button>Logout</button>
    </form>
</body>
</html>