<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for post in post_object %}
    <p>{{ post.text }}</p>
    <p>created at {{ post.created_at }}</p>
    <p>last updated at {{ post.updated_at }}</p>
    <form action="{% url 'edit' post.post_id %}", method="GET">
        <button>Edit</button>
    </form>
    <hr>
    {% endfor %}
</body>
</html>